/* RESET */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  color: #111827;
  background: #ffffff;
  line-height: 1.6;
}

/* LAYOUT */
.layout {
  display: grid;
  grid-template-columns: 30% 70%;
  max-width: 1200px;
  margin: 0 auto;
}

/* SIDEBAR */
.sidebar {
  position: relative;
  border-right: 1px solid #253036;
  padding-right: 32px;
}

/* full-bleed background */
.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -100vw;        /* 화면 왼쪽 끝까지 */
  background: #253036; /* 지금 테스트용 색 */
  z-index: -1;
}

.sidebar-inner {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
}


.name {
  font-size: 32px;
  margin: 0;
  color: #ffffff;
}

.role {
  font-size: 16px;
  font-weight: 600;
  color: #b6c2d9;
  margin: 6px 0 16px;
}

.tagline {
  font-weight: 600;
  margin-bottom: 8px;
  color: #b6c2d9;

}

.location {
  color: #b6c2d9;
  font-size: 14px;
  margin-bottom: 24px;
}

/* TOC */
.toc {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toc a {
  text-decoration: none;
  color: #b6c2d9;
  font-weight: 500;
}

.toc a:hover {
  text-decoration: underline;
}

/* CONTENT */
.content {
  padding-left: 40px;
}

.section {
  margin-bottom: 64px;
}

.section h2 {
  font-size: 22px;
  margin-bottom: 16px;
}

/* EXPERIENCE */
.experience {
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 24px;
}

.date {
  font-size: 14px;
  color: #6b7280;
}

.details h3 {
  margin: 0 0 8px;
}

.details ul {
  padding-left: 18px;
}

/* PROJECTS */
.project {
  margin-bottom: 32px;
}

.project h3 {
  margin-bottom: 8px;
}

.meta {
  font-size: 14px;
  color: #374151;
}

/* LINKS */
.links {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 8px;
}

.links a {
  color: #111827;
  text-decoration: underline;
}

/* FOOTER */
.footer {
  font-size: 14px;
  color: #6b7280;
  margin-top: 80px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    border-right: none;
    padding-right: 0;
    margin-bottom: 40px;
  }

  .content {
    padding-left: 0;
  }
}
